$primary: #97601F;
$secondary: #fffcf8;

@import "~/bootstrap/scss/bootstrap";

.box {
  width: 700px;
  border-radius: 100px;
  --bs-bg-opacity: 0.9;
  transition: 1s;
}

.title {
  font-size: 100px;
}

.App {
  background-image: url('../images/bison snow.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.nav {
  font-size: 30px;
  --bs-bg-opacity: 0.9;
}

.btn {
  color: $primary;
  background-color: $secondary;
  border: 6px solid $secondary;
  padding: 14px 38px;
  font-size: 40px;
}

.btn:hover {
  color: $secondary;
  background-color: $primary;
}

.container-toggle-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.toggle-button {
  background-color: transparent;
  border: none;
  appearance: none;
  animation: grow 0.8s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
