$primary: #916540;
$secondary: #f1f2f3;
$dark: #312B2B;

@import "~/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

body, #root {
  min-height: 100vh;
}

.box {
  width: 700px;
  border-radius: 100px;
  --bs-bg-opacity: 0.9;
  transition: 1s;
}

.box-size-forms {
  width: 1200px;
}

.title {
  font-size: 100px;
}

.App {
  display: flex;
  flex-flow: column;
  background-image: url('../images/bison snow.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px;
}

.navbar, .navbar-brand, .container-nav {
  font-size: 30px;
  --bs-bg-opacity: 0.9;
}

@media (max-width: 992px){
  .container-nav {
    border-radius: 0px;
    padding: 10px;
    background-color: transparent !important;
  }
  .App {
    padding: 0px;
  }
  .navbar {
    padding: 0px;
    --bs-bg-opacity: 0.9;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  }
}

.nav-link:hover {
  text-decoration: underline;
}

.custom-button  {
  color: $primary;
  background-color: $secondary;
  border: 6px solid $secondary;
  padding: 14px 38px;
  font-size: 40px;
}

.custom-button:hover {
  color: $secondary;
  background-color: $primary;
}

.custom-button-inverted  {
  color: $secondary;
  background-color: $primary;
  border-color: $primary;
}

.custom-button-inverted:hover {
  color: $primary;
  background-color: $secondary;
  border-color: $primary;
}

.medium-button-size {
  border-width: 5px;
  padding: 6px 20px;
  font-size: 20px;
}

.medium-button-size:hover {
  border-width: 5px;
  padding: 6px 20px;
  font-size: 20px;
}

.container-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.toggle-button {
  background-color: transparent;
  border: none;
  appearance: none;
  animation: grow 0.8s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}